---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
    {% if post.categories.size == 0 %}
      <article class="post">

        <h1 class="title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

        <div class="entry">
					{% if post.full_excerpt == true %}
						{{ post.content }}
					{% endif %}
					{% if post.full_excerpt != true %}
						{{ post.excerpt }}
					{% endif %}
        </div>
				{% if post.full_excerpt != true %}
          <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More {{ post.show_read_more }}</a>
				{% endif %}
      </article>
    {% endif %}
  {% endfor %}
</div>
